<h3>Reactive: <small>Dinámicos</small></h3>
<hr>

<form autocomplete="off" [formGroup]="form" (ngSubmit)="submit()">

    <!-- Nombre -->
    <div class="row">
        <label class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
            <input class="form-control" type="text" placeholder="Nombre de la persona" autofocus formControlName="name">
            <span *ngIf="isInvalid('name')" class="form-text text-danger">
                <i class="fas fa-exclamation-circle"></i>
                ¡El nombre es requerido!
            </span>
        </div>
    </div>

    <!-- Agregar juegos favoritos -->
    <div class="row mt-3">
        <label class="col-sm-3 col-form-label">Juegos</label>
        <div class="col-sm-9 ">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Nombre del juego..." [formControl]="newGame"
                    (keyup.enter)="addGame()">
                <button type="button" class="btn btn-outline-success" [disabled]="newGame.invalid" (click)="addGame()">
                    <i class="fas fa-plus"></i>
                </button>
            </div>

        </div>
    </div>

    <!-- Lista de Juegos Favoritos -->
    <div class="row mt-3">
        <label class="col-sm-3 col-form-label">Favoritos</label>
        <div class="col-sm-9" formArrayName="games">

            <div *ngFor="let game of games.controls; let i = index" class="input-group mb-1">
                <input type="text" class="form-control" [formControlName]="i">
                <button type="button" class="btn btn-outline-danger" (click)="removeGame(i)">
                    <i class="fas fa-trash"></i>
                </button>
            </div>


        </div>
    </div>

    <div class="row mt-3">
        <div class="col-sm">
            <button class="btn btn-primary float-end" type="button" (click)="submit()">Guardar</button>
        </div>
    </div>

</form>

<section class="row">
    <div class="col">
        <span>
            <strong>Valid:</strong>
            <pre>{{form.valid }}</pre>
        </span>

        <span>
            <strong>Valores:</strong>
            <pre>{{form.value | json }}</pre>
        </span>

        <span>
            <strong>Favorito:</strong>
            <pre>{{newGame.value | json }}</pre>
            <pre>{{newGame.valid | json }}</pre>
        </span>
    </div>
</section>